*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}
body {
	background-color: hsl(200, 100%, 10%);
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
.grid {
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	grid-template-rows: repeat(16, 1fr);
	background-color: hsl(0, 0%, 84%);
	border: 1px solid hsla(0, 0%, 0%, 0.318);
	width: 800px;
	height: 800px;
}
.cell {
	border: 1px dotted rgba(0, 0, 0, 0.296);
  

}
